
<!-- Toolbar -->
<div class="toolbar" role="banner">
<!-- Toolbar -->
  <img
    class="imgLogo"
    alt="Angular Logo"
    src="https://cdn-icons-png.flaticon.com/512/726/726056.png"
  />
  <span>Mini Proyecto Curso Angular 2022</span> 
  <!-- Header -->
  <app-header></app-header>
</div>

<div class="content" role="main">
  
  <!-- Body -->
  <app-body></app-body>

   <!-- Hero -->
  <app-hero> </app-hero>
  
  <!-- Footer -->
  <app-footer> </app-footer>

</div>

<router-outlet></router-outlet>
